body {
  background-color: #F4F0E8;
  font-family: Comic Sans MS, cursive;
  font-size: 12px;
}

h1 {
  font-size: 17px;
}

p {
  font-weight: bold;
  color: #14A4A9;
}

/*------ in form fields---*/
input::placeholder {
  font-family: segoe print, cursive;
  font-size: 10px;
  color: #18E88D;
}

/* --- Оцените наш сайт--- */
.grade>input {
  position: absolute;
  opacity: 0;
}

.grade>span::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #B1B4B7;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
}

.grade>input:checked+span::before {
  border-color: #FDFDFE;
  border-width: 1px;
  background-color: #0B76EF;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/*------ Как вы проводите свое свободное время -----*/
.leisure>input {
  position: absolute;
  opacity: 0;
}

.leisure>span::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #adb5bd;
  border-radius: 3px;
  margin-right: 5px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
}

.leisure>input:checked+span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/*-----Какие стили музыки вы слушаете -----*/
option {
  font-family: Comic Sans MS, cursive;
  ;
  font-size: 12px;
}

select {
  width: 200px;
}

select::-webkit-scrollbar {
  width: 10px;
}

select::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: gray;
}

/*----Ползунок ---*/
input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  width: 200px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #C3D2CB;
  border-radius: 20px;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  margin-top: -9px;
  background-color: #18E88D;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

/*------Включить-----*/
.switch {
  position: relative;
  width: 200px;
  height: 50px;
}

.wrapper,
.position1,
.position2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button,
.position2 {
  border-radius: 100px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.position1 {
  z-index: 1;
}

.position2 {
  background-color: #000000;
}

#b1 .position1:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  padding: 9px 4px;
  background-color: #FF0000;
  border-radius: 50%;
}

#b1 .checkbox:checked~.position1:before {
  content: "";
  left: 42px;
  background-color: #000000;
}

#b1 .checkbox:checked~.position2 {
  background-color: #FF0000;
}