@font-face {
  font-family: 'Segoe UI Gras';
  src: url('../fonts/segoe_ui_gras.eot');
  src: url('../fonts/segoe_ui_gras.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoe_ui_gras.woff2') format('woff2'),
    url('../fonts/segoe_ui_gras.woff') format('woff'),
    url('../fonts/segoe_ui_gras.ttf') format('truetype'),
    url('../fonts/segoe_ui_gras.svg#segoe_ui_gras') format('svg');
}

@font-face {
  font-family: 'Segoe UI Light';
  src: url('../fonts/segoe_ui_light.eot');
  src: url('../fonts/segoe_ui_light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoe_ui_light.woff2') format('woff2'),
    url('../fonts/segoe_ui_light.woff') format('woff'),
    url('../fonts/segoe_ui_light.ttf') format('truetype'),
    url('../fonts/segoe_ui_light.svg#segoe_ui_light') format('svg');
}

body {
  background-color: #515F67;
  max-width: 1920px;
}

/* ----- NAV BAR ----- */
header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 1920px;
  height: 150px;
  background-color: rgba(53, 63, 70, 0.5);
}

a {
  font-family: 'Segoe UI Gras';
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px;
  border: 5px solid transparent;
  transition: all 0.3s linear;
}

a:hover {
  color: #4BCAFF;
  padding: 15px;
  border: 5px solid #4BCAFF;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 1200px;
  padding: 0 15px;
}

.blueasy {
  flex: 40%;
  padding-top: 10px;
}

.navt {
  flex: 60%;
}

.navt li {
  float: right;
  margin: 10px 10px 10px auto;
}

/*----- HERO ----- */
.hero {
  background: url(../img/wheat.png) no-repeat;
  height: 800px;
  width: 1920px;
  position: relative;
}

.quote {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.quote_text {
  font-family: 'Segoe UI Light';
  font-size: 42px;
  text-transform: uppercase;
  background-color: rgba(53, 63, 70, 0.5);
  color: #FFFFFF;
  line-height: 65px;
}

/*-----SERVICES-----*/
.services {
  background-color: #4BCAFF;
}

.container_serv {
  height: 400px;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.svc {
  font-family: 'Segoe UI Light';
  font-size: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 30px 0 9px 0;
}

.container_svc {
  display: flex;
}

.option {
  flex: 25%;
}

.img_svc {
  margin: 20px 0 25px 0;
}

.svcn {
  font-family: Times New Roman, serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 18px;
}

.svсt {
  font-family: Times New Roman, serif;
  font-size: 16px;
  color: #FFFFFF;
  margin-right: 30px;
}

/*----- Portfolio -----*/
.portfolio {
  background-color: #FFFFFF;
}

.container_portf {
  height: 850px;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.navbot {
  font-family: 'Segoe UI Gras';
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  color: #626F76;
  border: 5px solid transparent;
  transition: all 0.3s linear;
}

.navbot:hover {
  color: #4BCAFF;
  padding: 15px;
  border: 5px solid #4BCAFF;
}

.portfolio_nav {
  display: flex;
  padding-top: 50px;
}

.logo {
  flex: 40%;
  padding-top: 25px;
}

.navb {
  flex: 60%;
}

.navb li {
  float: right;
  padding: 15px;
  margin: 10px 10px 10px auto;
}

.line_img{
padding-bottom: 50px;
}
.container-photo {
  position: relative;
  float: left;
  margin: 10px;
}

.container-photo,
.container-photo div,
.container-photo img {
  width: 270px;
  height: 270px;
}

.container-photo div,
.container-photo img {
  position: absolute;
}

.container-photo img {
  z-index: 0;
}

.block-photo {
  z-index: 1;
  background-color: #353F47;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0;
  color: #FFFFFF;
}

.block-photo:hover {
  opacity: 0.5;
}

.block-photo span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xxx-large;
  font-weight: bold;
}