body {
  background-color: #515F67;
}

							/* ----- NAV BAR ----- */
header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(53, 63, 70, 0.5);
}

.container-heaer {
  height: 150px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 1200px;
  padding: 0 15px;
}

.main-menu {
  font-family: 'Segoe UI Bold';
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 14pt;
  border: 5px solid transparent;
  transition: all 0.3s linear;
}

.main-menu:hover {
  color: #4BCAFF;
  padding: 15px;
  border: 5px solid #4BCAFF;
}


.blueasy {
  flex: 40%;
  padding-top: 10px;
}

.navt {
  flex: 60%;
}

.navt li {
  float: right;
  margin: 10px 10px 10px auto;
}

							/*----- HERO ----- */
.hero {
  background: url(../img/wheat.png) no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  position: relative;
}

.container-hero {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.quote_text {
  font-family: 'Segoe UI Light';
  font-size: 30pt;
  text-transform: uppercase;
  background-color: rgba(53, 63, 70, 0.5);
  color: #FFFFFF;
  line-height: 65px;
}

							/*-----SERVICES-----*/
.services {
  background-color: #4BCAFF;
  height: 275px;
  padding: 80px 0;
}

.container_serv {

  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo-serv {
  font-family: 'Segoe UI Light';
  font-size: 24pt;
  text-transform: uppercase;
  color: #FFFFFF;
}

.text-serv {
  display: flex;
  margin-top: 40px;
}

.option {
  flex: 25%;
}

.svcn {
  font-family: 'Segoe UI Semibold';
  font-size: 21pt;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 20px 0;
}

.svсt {
  font-family: 'Segoe UI Semibold';
  font-size: 9pt;
  color: #FFFFFF;
  line-height: 1.2;
  margin-right: 30px;
}

							/*----- Portfolio -----*/
.portfolio {
  background-color: #FFFFFF;
  padding: 80px 0;
}

.container_portf {
  height: 690px;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.portfolio_nav {
  display: flex;
}

.logo_port {
  flex: 40%;
  font-family: 'Segoe UI Light';
  font-size: 24pt;
  text-transform: uppercase;
  color: #626F76;
  margin: 10px 0;
}

.nav_ph {
  flex: 60%;
}

.nav_ph li {
  float: right;
  padding: 15px;
  margin: 10px 10px 10px auto;
}

.navp {
  font-family: 'Segoe UI Bold';
  text-transform: uppercase;
  padding: 15px;
  color: #626F76;
  border: 5px solid transparent;
  transition: all 0.3s linear;
}

.navp:hover {
  color: #4BCAFF;
  padding: 15px;
  border: 5px solid #4BCAFF;
}

.portfolio_img {
  margin-top: 25px;
}

.container-photo {
  position: relative;
  float: left;
  margin: 15px;
}

.container-photo,
.container-photo div,
.container-photo img {
  width: 270px;
  height: 270px;
}

.container-photo div,
.container-photo img {
  position: absolute;
}

.container-photo img {
  z-index: 0;
}

.block-photo {
  z-index: 1;
  background-color: #353F47;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0;
  color: #FFFFFF;
}

.block-photo:hover {
  opacity: 0.5;
}

.block-photo span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xxx-large;
  font-weight: bold;
}

							/*----- Section -----*/
.section {
  padding: 80px 0;
  height: 390px;
}

.container-section {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
}

.section-cont {
  flex: 50%;
  padding-right: 50px;
}

.logo-sect {
  font-family: 'Segoe UI Light';
  font-size: 24pt;
  text-transform: uppercase;
  color: #FFFFFF;
}

.tex-se {
  font-family: 'Segoe UI Regular';
  font-size: 14pt;
  color: #FFFFFF;
  line-height: 1.5;
  margin: 17px 0;
}

.botton-sect {
  width: 30%;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  padding: 15px;
  color: #353F46;
  border: 5px solid #353F46;
  transition: 0.3s;
}

							/*----- Twitter-----*/
.twitter {
  background-color: #4BCAFF;
  padding: 80px 0;
  height: 170px;
}

.container-twit {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo-twit {
  font-family: 'Segoe UI Light';
  font-size: 24pt;
  text-transform: uppercase;
  color: #FFFFFF;
}

.img-twit {
  float: right;
}

.text-twitter {
  margin-top: 35px;
}

.text-twit {
  font-family: 'Segoe UI Light';
  font-size: 22pt;
  color: #FFFFFF;
  line-height: 1.5;
}

.name-twit {
  font-family: 'Segoe UI Semibold';
}

							/*----- Who is -----*/
.who_is {
  background: url(../img/backg_who.png) no-repeat;
  -moz-background-size: cover -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  padding: 100px 0;
}

.container-who {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo-who {
  font-family: 'Segoe UI Light';
  font-size: 24pt;
  text-transform: uppercase;
  color: #FFFFFF;
}

.content-who {
  display: flex;
  margin-top: 20px;
}

.text-who1 {
  flex: 50%;
  padding-right: 60px;
}

.text-who2 {
  flex: 50%;
  padding-left: 60px;
}

.par {
  font-family: 'Segoe UI Regular';
  font-size: 12pt;
  color: #FFFFFF;
  line-height: 1.5;
  margin: 20px 0
}

							/*----- Testimonials -----*/
.testimonials {
  background-color: #FFFFFF;
  height: 240px;
  padding: 80px 0;
}

.container-testimonials {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo-tes {
  font-family: 'Segoe UI Light';
  font-size: 24pt;
  text-transform: uppercase;
  color: #515F67;
}

.img-tes {
  float: right;
}

.text-testimonial {
  margin: 35px 0;
}

.text-tes {
  font-family: 'Segoe UI Light';
  font-size: 22pt;
  color: #515F67;
  line-height: 1.5;
}

.author-tes {
  font-family: 'Segoe UI Bold';
  font-size: 11pt;
  color: #4BCAFF;
}

							/*----- contact -----*/
.contact {
  background: url(../img/backg_cont.png) no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 80px 0;
}

.container-contact {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.logo-cont {
  font-family: 'Segoe UI Light';
  font-size: 24pt;
  text-transform: uppercase;
  color: #FFFFFF;
}

.block-in-form {
  display: flex;
  margin-top: 35px;
}

.block-form {
  flex: 50%;
}

.cont-form {
  font-family: 'Segoe UI Bold';
  font-size: 10pt;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.small {
  height: 50px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #FFFFFF;
  margin-bottom: 35px;
}

input[type="text"]:focus {
  color: #FFFFFF;
}

.cont-for-text {
  flex: 50%;
}

.text-cont {
  font-family: 'Segoe UI Semibold';
  font-size: 10pt;
  color: #FFFFFF;
  line-height: 1.3;
  padding: 22px 0;
}

.big {
  height: 200px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #FFFFFF;
  margin-bottom: 35px;
}

.mes {
  width: 370px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  background-color: #4BCAFF;
  padding: 15px;
  color: #FFFFFF;
  border: 5px solid #4BCAFF;
  transition: 0.3s;
}

							/*----- Footer -----*/
footer {
  background-color: #353F47;
}

.container-footer {
  display: flex;
  width: 1200px;
  padding: 80px 15px;
  margin: 0 auto;
}

.nav_bottom {
  flex: 60%;
}

.bot-menu {
  font-family: 'Segoe UI Semibold';
  text-transform: uppercase;
  color: #515F67;
  padding: 12pt;

}

.nav_bottom li {
  float: left;
  font-family: 'Segoe UI Semibold';
  text-transform: uppercase;
  color: #515F67;
}

.year {
  flex: 40%;
}

.year span {
  float: right;
  font-family: 'Segoe UI Semibold';
  text-transform: uppercase;
  color: #515F67;
}