div {
   position: relative;
    overflow: hidden;
    text-align: center;
}

.header1 {
    background-color: #DCDCDC;
    float: left;
    width: 33%;
    height: 50px;
}

.header2 {
    background-color: #D3D3D3;
    float: left;
    width: 33%;
    height: 50px;
}

.header3 {
    background-color: #C0C0C0;
    float: left;
    width: 34%;
    height: 50px;
}

.section1_1 {
    float: left;
    width: 66%;
    height: 150px;
    background-color: #FFF8DC;
}

.section1_2 {
    float: right;
    width: 34%;
    height: 50px;
    background-color: #FFEBCD;
}

.section1_3 {
    float: right;
    width: 34%;
    height: 50px;
    background-color: #FFE4C4;
}

.section1_4 {
    float: right;
    width: 34%;
    height: 50px;
    background-color: #FFDEAD;
}

.section2_1 {

    float: left;
    width: 33%;
    height: 100px;
    background-color: #98FB98
}

.section2_2 {
    float: left;
    width: 33%;
    height: 50px;
    background-color: #90EE90;
}

.section2_3 {
    float: right;
    width: 34%;
    height: 100px;
    background-color: #00FA9A;
}

.section2_4 {
    float: left;
    width: 33%;
    height: 50px;
    background-color: #00FF7F;
}

.section4_1 {
    float: left;
    width: 66%;
    height: 50px;
    background-color: #BC8F8F;
}

.section4_2 {
    float: right;
    width: 34%;
    height: 50px;
    background-color: #EE82EE;
}


.section3_1 {

    float: left;
    width: 33%;
    height: 100px;
    background-color: #40E0D0;
}

.section3_2 {
    float: left;
    width: 33%;
    height: 100px;
    background-color: #7FFFD4;
}

.section3_3 {
    float: right;
    width: 34%;
    height: 50px;
    background-color: #AFEEEE;
}

.section3_4 {
    float: right;
    width: 34%;
    height: 50px;
    background-color: #48D1CC;
}

.first_column {
    float: left;
    width: 33%;
}

.last_column {
    float: right;
    width: 34%;
}

.footer1 {
    height: 50px;
    background-color: #CD5C5C;
}

.footer2 {
    height: 50px;
    background-color: #E9967A
}

.footer3 {
    height: 50px;
    background-color: #F08080;
}

.footer4 {
    height: 50px;
    background-color: #FA8072;
}

.footer5 {
    width: 33%;
    height: 100px;
    background-color: #FF7F50;
}
