.image-two{
	width: 200px;
	height: 250px;
}
.image-three {
    height: 200px;
}
.images-five{
  width: 100px;
  height: 70px;
}
.images-six{
	width: 100px;
  float: left;
}
.images-seven{
	width: 100px;
  height: 100px;
  float: right;
}