/*текст*/

h1 {
    color: #FFA500;
    text-align: right;
}

p:first-letter {
    font-size: 200%;
    color: #FF0000;
}

em {
    color: #FFFFFF;
    background-color: #008000;
}

/*Список*/

h2 {
    color: #FFA500;
    text-align: left;
}

ul {
    font-weight: bold;
}

.warehouse {
    color: #0000FF;
}


.fruit {
    color: #808080;
}

.vegetables {
    color: #FF0000;
}

.fruit1 {
    color: #008000;
}

/*Таблица*/

table {
    border: 1px solid #808080;
}

td {
    background: #008000;
    color: #FFFFFF;
    text-align: center;
}

td:first-child {
    background: #FFFFFF;
    color: #FFA500;
    text-align: left;
}

th,td {
    width: 80px;
    border: 1px solid #808080;
}